<header>
    <div class='body-width'>
        <h1><a href='/'>PC Builder</a></h1>
        <nav>
            <% if (loggedIn === true) { %>
                <a class='button' href='/logout'>Logout</a>
                <a class='button btn-primary' href='/builds'>My Build</a>
            <% } else {%>
                <a class='button' href='/login'>Login</a>
                <a class='button primary' href='/register'>Register</a>
            <% }%>
        </nav>
    </div>
</header>