<header>
    <div class='body-width'>
        <h1><a href='/'>PC Builder</a></h1>
        <nav>
            <h1>Testing!</h1>
            <h2><%= loggedIn %></h2>
            <!-- TODO -->
            <!-- if logged in... -->
            <!-- Show logout & build buttons -->

            <!-- if logged out... -->
            <!-- show login & register buttons -->
        </nav>
    </div>
</header>