<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="style/login.css" />
</head>

<body>
        <%- include('../partials/header', {loggedIn: loggedIn}); %>
    <main>
        <div class='main-banner'></div>
        <div id="register">
            <h1>Register</h1>
            <% if (message.text != '') { %>
            <div class="message <%= message.type %>">
                <p>
                    <%= message.text %>
                </p>
            </div>
            <% } %>

            <div class="form-wrapper flex-wrapper space-between">
                <form method="POST" action="/register">
                    <input type="hidden" name="action" value="register">
                    <div class="flex-wrapper space-between">
                        <label for="fName">First name:</label>
                        <input type="text" id="fName" name="fName" required>
                    </div>
                    <div class="flex-wrapper space-between">
                        <label for="lName">Last name:</label>
                        <input type="text" id="lName" name="lName" required>
                    </div>
                    <div class="flex-wrapper space-between">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="flex-wrapper space-between">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required min="5">
                    </div>
                    <div class="flex-wrapper space-between">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" min="5">
                    </div>
                    <input type="submit" class="button" value="Register">
                </form>
                <div class="message warning">
                    <p>PLEASE create a unique password! This site is not on an HTTPS connection and network traffic (your password) IS NOT private.</p>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>

</html>